#menu ul {
  margin : 0;
  padding: 0;
  width: 15%;
  list-style-type: none;
  position: fixed;
  height: 100%;
}

#menu ul li a {
  text-decoration: none;
  display: block;
  background-color: #B0C4DE;
  color: honeydew;
  padding : 10px 10px;
}

#menu ul li a:hover {
  background-color: #778899;
}

.content {
  position : absolute;
  left: 250px;
  padding: 1px, 30px;
  height: 100%;
}


#menu #disconnect{
  background-color: honeydew;
  color : gray;
  font-size: 13px;