body { 
  font-family : arial, sans-serif; 
  color : #555;
  background-color : honeydew;
}

input[type="text"]{
  border : 1px solid gray;
  padding : 3px 10px;
width: 100px;
}

input[type="number"]{
  border : 1px solid gray;
  padding : 3px 10px;
  width: 50px;
 
}

.submit {
  position : relative;
  float: right;
  border: 1px solid blueviolet;
  background-color: #D4E0EE;
  padding : 10px 10px 10px;
  color : #555;
}

table, th, td {
  border: 1px solid #D4E0EE;
  border-collapse: collapse;
  font-family: "Trebuchet MS", Arial, sans-serif;
  color: #555;
}

caption {
  font-size: 150%;
  font-weight: bold;
  margin: 5px;
}

td, th {
  padding-left : 20px;
  padding-right: 20px;
  padding-top : 7px;
  padding-bottom: 7px
}

tr {
  margin-left: 5px;
  margin-right: 5px;
}

table a:link {
  color: #718ABE;
  text-decoration: none;
}

table a:visited {
  color: #718ABE;
  text-decoration: none;
}

table a:hover {
  color: #718ABE;
  text-decoration: bold;
}


th {
  font-weight: bold;
  background: #E6EDF5;
}

fieldset {
  width: 500px;
  margin : 20px 20px;
  border : 0.5px solid gray;
  border-radius: 2px;
}

 fieldset >legend {
  padding: 10px;
  font-variant: small-caps;
  font-size: 19px;
  color: #585858;
 }

.addres {
  text-decoration: none;
  border: solid 1px #D4E0EE;
  background-color: #D4E0EE;
  padding: 5px 5px;
  color : gray;
  margin-top: 20px;
}

.content {
  position : relative;
}

textarea {
  vertical-align: top;
}

#login {
  border: 1px solid blueviolet;
  background-color: #D4E0EE;
  display: block;
  width: 66%;
  padding : 10px 10px 10px;
  position : relative;
  margin-top: 10px;
  margin-left : 45px;
  color : #555;
}

.login-block{
  width : 320px;
  padding : 20px;
  border: 1px blueviolet solid;
}

.login-block input {
  border : 1px solid blueviolet;
  margin-left : 20px;
  padding-left: 10px;
}

.input-logo {
  position : relative;
  margin-bottom : -7px;
  }
.login-block legend {
  font-variant: small-caps;
}

#welcome {
  font-variant: small-caps;
  color: gray;
  margin-left: 35px;
}

#profile-name {
  margin-left: 30px;
  font-variant: small-caps;
}

fieldset label{
  display: block;
  width: 190px;
  float: left;
}

.champ {
  margin-left: 20px;
  margin-bottom : 10px;
}